<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Công Ty CP Thiết Bị Điện Máy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="icon" href="../Content/image/home/logo.jpg">
    <link rel="stylesheet" href="../Content/plugin/bootstrap-4.6.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../Content/plugin/slick-master/slick/slick.css">
    <link rel="stylesheet" href="../Content/plugin/slick-master/slick/slick-theme.css">
    <link rel="stylesheet" href="../Content/css/main.css">
    <link rel="stylesheet" href="../Content/css/common.css">
    <link rel="stylesheet" href="../Content/css/home.css">
    <script src="../Content/plugin/jquery/jquery.js"></script>
    <script src="../Content/plugin/jquery/ajax.js"></script>
</head>

<body class="">
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between position-relative tablet-config">
                    <div class="header__logo text-md-center">
                        <img src="../Content/image/home/logo.jpg" alt="">
                    </div>
                    <div class="bar hide-on-pc position-absolute">
                        <i class="bar-icon bi bi-text-left"></i>
                        <!-- update 22/04 -->
                        <div class="bar-container position-fixed">
                            <div class="hide-bar">
                                <div class="text-right">
                                    <div class="bar-close">
                                        <i class="bar-icon bi bi-text-right"></i>
                                    </div>
                                </div>
                               
                                <div class="bar-content">
                                    <ul class="bar-list">
                                        <li class="bar-list-item js-scroll-to-top">
                                            TRANG CHỦ
                                        </li>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views bar-has-sublist">
                                            <p>GIỚI THIỆU</p>
                                            <i class="bi bi-arrow-down-circle"></i>
                                        </li>
                                        <ul class="sub-list ">
                                            <li class="sub-list-item">
                                                Thông điệp
                                            </li>
                                            <li class="sub-list-item">
                                                Sơ đồ tổ chức
                                            </li>
                                            <li class="sub-list-item">
                                                Văn hóa doanh nghiệp
                                            </li>
                                            <li class="sub-list-item">
                                                Giá trị cốt lõi
                                            </li>
                                            <li class="sub-list-item">
                                                Trách nhiệm xã hội
                                            </li>
                                        </ul>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views bar-has-sublist">
                                            <p>TIN TỨC</p>
                                            <i class="bi bi-arrow-down-circle"></i>
                                        </li>
                                        <ul class="sub-list ">
                                            <li class="sub-list-item">
                                                Tin công ty
                                            </li>
                                            <li class="sub-list-item">
                                                Tin việc làm
                                            </li>
                                        </ul>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views">
                                            <p>SẢN PHẨM</p>
                                        </li>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views">
                                            <p>ĐẶT HÀNG</p>
                                        </li>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views bar-has-sublist">
                                            <p>DỊCH VỤ</p>
                                            <i class="bi bi-arrow-down-circle"></i>
                                        </li>
                                        <ul class="sub-list ">
                                            <li class="sub-list-item">
                                                Bảo hành và hậu mãi
                                            </li>
                                            <li class="sub-list-item">
                                                Cam kết của ASIA
                                            </li>
                                            <li class="sub-list-item">
                                                Lắp đặt và sửa chữa
                                            </li>
                                        </ul>
                                        <li class="bar-list-item d-flex justify-content-between align-items-center js-scroll-into-views">
                                            <a href="https://zalo.me/0942758868">LIÊN HỆ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="header__slogan hide-on-mobile hide-on-tablet">
                        Công TY TNHH Sản Xuất Và Thương Mại Thiết Bị Điện Tĩnh Gia
                    </h3>
                    <div class="header__language hide-on-mobile hide-on-tablet">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle shadow-none" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Tiếng Việt
                            </button>
                            <div class="dropdown-menu right-0 left-unset" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">
                                    <img class="mr4" src="../Content/image/home/language/quoc-ky-viet-nam.jpg" alt="">
                                    Tiếng Việt</a>
                                <a class="dropdown-item" href="#">
                                    <img class="mr4" src="../Content/image/home/language/my.jpg" alt="">
                                    English</a>
                                <a class="dropdown-item" href="#">
                                    <img class="mr4" src="../Content/image/home/language/hanquoc.png" alt="">
                                    한국인</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs justify-content-center hide-on-mobile hide-on-tablet">
                    <li class="nav-item">
                        <a class="nav-link active js-back-to-home" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Giới thiệu</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item js-show-loading-gif" href="#">Thông điệp</a>
                            <a class="dropdown-item js-show-loading-gif" href="#">Văn hóa doanh nghiệp</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Tin tức</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item js-show-loading-gif" href="#">Tin công ty</a>
                            <a class="dropdown-item js-show-loading-gif" href="#">Tin việc làm</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-0" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-show-product js-show-loading-gif" href="#">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đặt hàng</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Dịch vụ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item js-show-loading-gif" href="#">Bảo hành và hậu mãi</a>
                            <a class="dropdown-item js-show-loading-gif" href="#">Cam kết của ASIA</a>
                            <a class="dropdown-item js-show-loading-gif" href="#">Lắp đặt và sửa chữa</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="body">
            <div class="container">
                <!-- banner -->
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false"
                    data-interval="false">
                    <div class="carousel-inner mobile-carousel">
                        <div class="carousel-item active">
                            <img src="../Content/image/home/banner/0a3c326f-cedf-4cf9-ada2-71f7517d0a09.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Content/image/home/banner/1_2679_02.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../Content/image/home/banner/Images1328453_IMG_7341.jpg" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
                <!-- // end banner -->
                <div class="border-section"></div>
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="row mt20">
                            <div class="col-12 col-item mb20">
                                <div class="search-container position-relative">
                                    <input type="text" class="search-input" placeholder="Tìm kiếm...">
                                    <i class="bi bi-search position-absolute search-icon"></i>
                                </div>
                            </div>
                            <div class="col-12 col-item mb20">
                                <div class="text-center card-item">
                                    <h3 class="fz-15 heading-section">Danh Mục Sản Phẩm</h3>
                                    <nav class="nav flex-column text-left">
                                        <a class="nav-link link-item fz-16 mt12" href="#">
                                            <i class="bi bi-bookmark-check-fill mr4"></i>
                                            Bộ đổi nguồn và Van điện từ
                                        </a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views "><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                        </ul>
                                        <a class="nav-link link-item fz-16 position-relative mt4" href="#">
                                            <i class="bi bi-bookmark-check-fill mr4"></i>
                                            Đầu cos nối dây điện
                                        </a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                        </ul>
                                        <a class="nav-link link-item fz-16 position-relative mt4" href="#">
                                            <i class="bi bi-bookmark-check-fill mr4"></i>
                                            Gia công dây giắc điện
                                        </a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                        </ul>
                                        <a class="nav-link link-item fz-16 position-relative mt4" href="#">
                                            <i class="bi bi-bookmark-check-fill mr4"></i>
                                            Giắc nhựa kết nối
                                        </a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                        </ul>
                                        <a class="nav-link link-item fz-16 position-relative mt4 mb4" href="#">
                                            <i class="bi bi-bookmark-check-fill mr4"></i>
                                            Thiết bị máy gia công bộ dây điện
                                        </a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                            <li class="dropdown-list-item js-show-loading-gif js-show-product js-scroll-into-views"><i class="bi bi-arrow-right-short"></i>abc
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12 col-item mb20">
                                <div class="text-center card-item">
                                    <h3 class="fz-15 heading-section">Video</h3>
                                    <div class="mt8">
                                        <iframe width="239" height="150" src="https://www.youtube.com/embed/HM7JecCL3Uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-item mb20">
                                <div class="text-center card-item">
                                    <h3 class="fz-15 heading-section">Liên Hệ</h3>
                                    <div class="pad8 text-left d-flex flex-column fz-14">
                                        <p>Địa chỉ: số nhà 35 Thôn Ngõ Vật Con Thôn Phượng Vũ Xã Phượng Dực Huyện Phú xuyên TP Hà Nội</p>
                                        <a href="tel:84-4.36408544">Tel: 84 -4.36408544</a>   
                                        <a href="tel:0942758868">Hotile: 0942758868</a>  
                                        <p>Email: thietbidienmay<br class="hide-on-pc">chaua@gmail.com</p>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-item mb20">
                                <div class="text-center card-item">
                                    <h3 class="fz-15 heading-section">Hỗ Trợ Trực Tuyến</h3>
                                    <div class="pad8 d-flex flex-column fz-14 text-left">
                                        <a href="tel:0948016588 ">Hotline: 0948.016.588</a>
                                        <a href="tel:0932312355">Mrs. Hương – 0932312355</a>
                                        <a name="TungPhoneCall" href="tel:0919882098">Mr. Tùng – 0919882098</a>
                                        <a href="tel:0917510660">Mr. Đại  –  0917510660</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 col-lg-9 js-scroll-destination">
                        <div class="container z-idx-100 mt20">
                            <div class="overflow-auto loading-bahavior overflow-hidden text-center mt48">
                                <img width="420" height="140" src="../Content/image/home/gif/loading-animations-preloader-gifs-ui-ux-effects-10.gif" alt="">
                            </div>
                        </div>
                        <div class="row js-loading-content">
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="overflow-auto overflow-hidden">
                                            <img src="../Content/image/home/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="more-info d-flex justify-content-between align-items-center">
                                            <h3>Giới Thiệu</h3>
                                            <span>Xem thêm <i class="bi bi-arrow-right-circle"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-justify mt20">
                                        <p>1. Tên doanh nghiệp: Công ty cổ phần thiết bị điện máy Châu Á</p>
                                        <p>2. Tên giao dịc quốc tế: Asia machine electrical Equipment Joint Stock company.</p>
                                        <p>3. Tên viết tắt : ASIA ELECTRICAL .,JSC</p>
                                        <p>4. Thông tin giao dịch</p>
                                        <p>– Trụ sở chính: Thành phố Hà Nội , Việt Nam</p>
                                        <p>– Nhà máy sản xuất : Văn Lâm – Tỉnh Hưng Yên</p>
                                        <p>Factory: Tan Quang Industrial Zone – Van Lam – Hung Yen Province</p>
                                        <p class="text-left">– Email: thietbidienmaychaua.com / thietbidienmaychaua@gmail.com</p>
                                        <p>– Mã số thuế: 0106025928</p>
                                         <p> Tax code: 0106025928</p> 
                                            <p>– Công ty cổ phần thiết bị điện máy Châu Á thành lập từ năm 2012.</p>
                                            <p>Asia machine electrical Equipment Joint Stock company. was established in 2012.</p>
                                            <p>Lĩnh vực sản xuất & kinh doanh gia công bộ dây điện và cung cấp dây chuyền máy móc thiết bị , vật tư linh kiện điện điện tử .</p>
                                            <p>Manufacturing wire harnees and trading of wire and cable assemblies, machinery and equipment, electrical and electronic components.</p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row mobile-mt-16 tablet-mt-16">
                                    <div class="col-12">
                                        <div class="overflow-auto overflow-hidden">
                                            <img src="../Content/image/home/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="more-info d-flex justify-content-between align-items-center">
                                            <h3>Tin Tức</h3>
                                            <span>Xem thêm <i class="bi bi-arrow-right-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product__container">

                        </div>
                        <div class="row product__container mt24">

                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination js-pagination d-none">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="container text-center mt16">
                <div class="content">
                    thietbidienmaychaua.com
                </div>
                
            </div>
           
        </div>

        <!-- Modal -->
        <div class="modal js-modal">
            <div class="modal__overlay">

            </div>
            <div class="modal__body js-modal-body">
               
            </div>
        </div>

        <!-- scroll to top -->
        <div class="container position-fixed scroll-top-behavior z-idx-10000">
            <i class="bi bi-arrow-bar-up fz-20 scroll-top-icon"></i>
        </div>
    </div>
    <script src="../Content/plugin/jquery/migrate.js"></script>
    <script src="../Content/plugin/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../Content/plugin/slick-master/slick/slick.js"></script>
    <script src="../Content/js/common/common.js"></script>
    <script src="../Content/js/common-pages/home.js"></script>
</body>

</html>
